

.fonte{
    font-family: Curlz MT;
    font-weight: bold;
}
.text-size{
    font-size: x-large;
}
.menu-color{
    background-color: rgb(196, 39, 188);
}

.menu-color:hover{
    background-color: rgb(245, 21, 234);
}

.livro{
height: 43px;
width: 35px;
}

.roxo{
    background: rgb(196, 39, 188);
}

.cinza{
    background: rgb(89, 89, 89)
}

.font-roxo{
    color: rgb(196, 39, 188);
}
.font-cinza{
    color: rgb(89, 89, 89);
}
.font-cinza:hover{
    color: rgb(89, 89, 89);
    text-decoration: none;  
}

.bola {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid rgb(196, 39, 188);
    background-color: rgb(196, 39, 188);
}

.size{
    width:200px;
    height:200px;
    border: solid 3px rgb(89, 89, 89);
    border-radius:10%;
}

.margin{
    margin-left: 15px;
}

.position-menu{
    margin-top: 20px;
    margin-left: -50px;  
}

.menu-font-size{
    font-size: medium;
}

.search-color{
    background: rgb(196, 39, 188);
    color: white;
    border-color: rgb(196, 39, 188);
}

.search-color:hover{
    background-color: rgb(245, 21, 234);
    border-color: rgb(196, 39, 188);
}

.footer{
    height:50px;
}


.border-gray{
    border: solid 3px rgb(89, 89, 89);
}


.border-gray-2{
    border-bottom: solid 3px rgb(89, 89, 89) ;
}
.border-gray-3{
    border: solid 2px rgb(89, 89, 89);   
}
.border-gray-3:hover{
    border: solid 2px rgb(196, 39, 188);
}


.form-size{
    width:360px;
}

.form-size-2{
    width:300px;
}

.add-button{
    border: solid 3px rgb(89, 89, 89);
    height:35px;
    color: rgb(196, 39, 188);
    border-radius: 10px;
}

.add-button:hover{
    background-color: rgb(245, 21, 234);
    color:white;
}

.del-button{
    border: solid 3px rgb(89, 89, 89);
    height:35px;
    color: rgb(196, 39, 188);
    border-radius: 10px;
}

.del-button:hover{
    background-color: rgb(245, 21, 234);
    color:white;
}

.centralizar{
    justify-content: center;
}


.color-save{
    background-color: rgb(196, 39, 188);
    border: solid 1px rgb(196, 39, 188);
    height:50px;
    width:150px;
}

.color-save:hover{
    background-color: rgb(245, 21, 234);
    border: solid 1px rgb(245, 21, 234);
}

/*.borda-meio{
    border-left: solid 3px rgb(89, 89, 89);
}
*/

.small-box{
    height:40px;
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
}


.green{
    border:solid 3px green;
}

.margin-2{
    margin-top: 5px;
}

.seta{
    -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      background: url(imagens\livro.png) center right no-repeat;
    background-size: 8px 8px;
}

.test:focus{
    box-shadow: 0px 0px 5px rgb(196, 39, 188);
} 

