
.cinza{
    background: rgb(89, 89, 89)
}

.fonte{
    font-family: Curlz MT;
    font-weight: bold;
}
.text-size{
    font-size: x-large;
}
.menu-color{
    background-color: rgb(196, 39, 188);
}

.menu-color:hover{
    background-color: rgb(245, 21, 234);
}

.livro{
height: 43px;
width: 35px;
}

.roxo{
    background: rgb(196, 39, 188);
}

.cinza{
    background: rgb(89, 89, 89)
}

.font-roxo{
    color: rgb(196, 39, 188);
}
.font-cinza{
    color: rgb(89, 89, 89);
}
.font-cinza:hover{
    color: rgb(89, 89, 89);
    text-decoration: none;  
}

.bola {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid rgb(196, 39, 188);
    background-color: rgb(196, 39, 188);
}

.size{
    width:200px;
    height:200px;
    border: solid 3px rgb(89, 89, 89);
    border-radius:10%;
}

.margin{
    margin-left: 15px;
}

.position-menu{
    margin-top: 20px;
    margin-left: -50px;  
}

.menu-font-size{
    font-size: medium;
}

.search-color{
    background: rgb(196, 39, 188);
    color: white;
    border-color: rgb(196, 39, 188);
}

.search-color:hover{
    background-color: rgb(245, 21, 234);
    border-color: rgb(196, 39, 188);
}

.centralizar{
    justify-content: center;
}

.border{
border: solid 2px rgb(89, 89, 89);
}

.margin-letra{
    margin-right: 15px;
}